<%= form_for(@book) do |a| %>
  <% @books.each_with_index do |book, index| %>
    <%= fields_for "books[#{index}]", book do |f| %>
      <p1>course: <%= f.select :course, [['Course', nil], 'Accounting', 'Biology', 'Music'] %></p>
      <p>number: <%= f.select :number, [['Course Numver', nil], 101,201, 301, 401, 501] %></p>
    <% end %>
  <% end %>
  <div class="actions">
    <%= a.submit %>
  </div>
<% end %>



<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br>
    <%= f.select :course, [['Course', nil], 'Accounting', 'Biology', 'Music'] %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.select :number, [['Course Numver', nil], 101,201, 301, 401, 501] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
