<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
         <div class="form-wrap">
          <h2>Please Enter isbn of Your Book!</h2>
          <%= form_for @book, :url => {:action=> "search"} do |f| %>
                <p><div class="center"><%#course: <%= f.select :course, [['Course', nil], 'Accounting', 'Biology', 'Music'] %>
                <%#number: <%= f.select :number, [['Course Number', nil], 101,201, 301, 401, 501] %>
                isbn: <%= f.text_field :isbn, class: "form-control", placeholder:"123-456789 => 123456789 "%>
                Look for isbn number?<%=link_to "Go to isbn website!", 'http://www.isbnsearch.org/', :target => "_blank"  %> </div></p>
            <div class="actions">
              <%= f.submit class: 'btn btn-custom btn-lg btn-block'  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


