<div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active col-lg-3 center"><%= link_to 'Bundle Books', new_book_path %></li>
        <li role="presentation" class="col-lg-3 center"><%= link_to 'Buy Books', books_path %></li>
        <li role="presentation" class="col-lg-3 center"><%= link_to 'Sell Books', new_book_path %></li>
        <li role="presentation" class="col-lg-3 center"><%= link_to 'Quick Look', lookup_quick_look_path %></li>
      </ul>
    </div>

<div class="center hero-unit">
<h3>Search by Book Name</h3>
<%= form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder:"Title/Isbn/Course" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<p>
  <%if @books.present? %>
    <% @books.map do |r|%>
      <%= r.course %>
      <%= r.number %>
      <%= r.name %>
      <%= r.isbn %>
    <% end %>
  <% end %>
</p>



<h1>Listing books</h1>
<% if !@store.nil? %>
  <% @store.each_with_index do |b, i|%>
    <% if i != 0 %>
    <h2><%= b.course unless @store[0..i-1].map(&:course).include?"#{b.course}" %></h2>
    <% else %>
      <h2><%= b.course %></h2>
    <% end %>
      <li><h3><%=link_to "#{b.course} #{b.number}", subject_path(b.course,b.number)%></h3></li>
  <% end %>
<% end %>
</div>
