<%= link_to 'Quick Look', lookup_quick_look_path %>
<%= link_to 'Sell Books', new_book_path %>
<p><%= link_to 'Search by Book Name', "#" %></p>
<%= form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder:"textname" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<p>
  <%if @books.present? %>
    <% @books.map do |r|%>
      <%= r.number %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Book ISBN', "#" %>


<h1>Listing books</h1>
<% if !@store.nil? %>
  <% @store.each_with_index do |b, i|%>
    <% if i != 0 %>
    <h2><%= b.course unless @store[0..i-1].map(&:course).include?"#{b.course}" %></h2>
    <% else %>
      <h2><%= b.course %></h2>
    <% end %>
      <li><h3><%=link_to "#{b.course} #{b.number}", subject_path(b.course,b.number)%></h3></li>
  <% end %>
<% end %>
