<%= flash[:error] %>
<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
            <h1>Is this a Book You Are looking for?</h1>
          <%= form_for(@book) do |f| %>
            <div style="float: left; margin-right:80px; margin-left:20px; margin-bottom:20px;">
              <%= image_tag @book.thumbnail, :size => "180x260" %>
            </div>
                <p style="margin-left: 80px">
                  <%= f.hidden_field :title, :value => @book.title%>Title: <%= @book.title %><br/>
                  <%= f.hidden_field :subtitle, :value => @book.subtitle%> <%= @book.subtitle %>
                  <% if !@book.subtitle.nil?%> Subtitle: <%= @book.subtitle %><br/><%end%>
                  <%= f.hidden_field :author, :value => @book.author%>
                  <% if !@book.author.nil?%> Author: <%= @book.author %><br/><%end%>
                  <%= f.hidden_field :publisher, :value => @book.publisher%>
                  <% if !@book.publisher.nil?%> Publisher: <%= @book.publisher %><br/><%end%>
                  <%= f.hidden_field :pub_date, :value => @book.pub_date%>
                  <% if !@book.pub_date.nil?%> Publication Date: <%= @book.pub_date %><br/><%end%>
                  <%= f.hidden_field :isbn, :value => @book.isbn %>
                  <%= f.hidden_field :thumbnail, :value => @book.thumbnail %>
                </p>
                <div style="clear: both;">
                  <%=  f.label :course, class: "required"%>
                  <%=  f.text_field :course, class: "form-control", placeholder:"Business" %><br>

                  <%=  f.label :number, class: "required" %>
                  <%=  f.number_field :number, class: "form-control", placeholder:"101" %><br>

                  <%=  f.label :professor %>
                  <%=  f.text_field :professor, class: "form-control",placeholder:"Andrew Abeboi"  %><br>

                  <%=  f.label :price, class: "required" %>
                  <%=  f.number_field :price, class: "form-control", placeholder: "$" %><br>

                  <%=  f.label :comment %>
                  <%=  f.text_field :comment, class: "form-control", placeholder:"Things to note"  %><br>

                  <%=  f.label :condition %>
                  <%=  f.select :condition, [['Condition',nil], 'New', 'Almost New', 'Dirty','Very Dirty'], class: "form-control" %><br>
                  <div class="actions" style="margin-top:10px;">
                    <%= f.submit "Sell It", class:'btn btn-custom btn-lg btn-block'%>
                  </div>
                </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>