<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
            <h1>Books</h1>
            <% @books.map do |t| %>
                <div class='users'>
                  <div style="float: left; margin-right:80px; margin-left:20px; margin-bottom:20px;">
                    <%= image_tag t.thumbnail, :size => "180x260" %>
                  </div>
                  <div style="margin-left: 80px">
                        <% if !t.title.empty?%> Title: <%= t.title %><br/><% end %>
                        <% if !t.subtitle.empty?%> Subtile:<%= t.subtitle %><br/><% end %>
                        <% if !t.author.empty?%> Author: <%= t.author %><br/><% end %>
                        <% if !t.publisher.empty?%> Publisher: <%= t.publisher%><br/><% end %>
                        <% if !t.pub_date.empty?%> Publication Date: <%= t.pub_date %><br/><% end %>
                        <% if !t.professor.empty?%> Professor: <%= t.professor %><br/><% end %>
                        Price: <%= t.price %><br/>
                        <% if !t.comment.empty?%> Comment <%= t.comment %><br/><% end %>
                        <% if !t.condition.empty?%> Condition: <%= t.condition %><br/><% end %>
                        Seller: <%= t.users.first.name %>
                        <br/><br/>
                        <%= button_to "contact", "#", class:'btn btn-custom'%>
                  </div>
                  <div style="clear: both;">
                  </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>