<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
            <h1>Books</h1>
            <% @books.map do |t| %>
                <div class='users'>
                  <div style="float: left; margin-right:80px; margin-left:20px; margin-bottom:20px;">
                    <%= image_tag t.thumbnail, :size => "180x260" %>
                  </div>
                  <div style="margin-left: 80px">
                        <% if !t.title.empty?%> Title: <%= t.title %><br/><% end %>
                        <% if !t.subtitle.nil?  %>
                          <% if t.subtitle == '' %>
                          <% else %>
                            Subtitle: <%= t.subtitle %><br/>
                          <% end %>
                        <%end%>

                        <% if !t.author.nil?  %>
                          <% if t.author == '' %>
                          <% else %>
                            author: <%= t.author %><br/>
                          <% end %>
                        <%end%>

                        <% if !t.publisher.nil?  %>
                          <% if t.publisher == '' %>
                          <% else %>
                            publisher: <%= t.publisher %><br/>
                          <% end %>
                        <%end%>

                        Price: <%= t.price %><br/>
                        isbn: <%= t.isbn %><br/>

                        <% if !t.pub_date.nil?  %>
                          <% if t.pub_date == '' %>
                          <% else %>
                            pub_date: <%= t.pub_date %><br/>
                          <% end %>
                        <%end%>

                        <% if !t.professor.nil?  %>
                          <% if t.professor == '' %>
                          <% else %>
                            professor: <%= t.professor %><br/>
                          <% end %>
                        <%end%>

                        <% if !t.comment.nil?  %>
                          <% if t.comment == '' %>
                          <% else %>
                            comment: <%= t.comment %><br/>
                          <% end %>
                        <%end%>

                        <% if !t.condition.nil?  %>
                          <% if t.condition == '' %>
                          <% else %>
                            condition: <%= t.condition %><br/>
                          <% end %>
                        <%end%>

                        Seller: <%= t.users.first.name %>
                        <br/><br/>
                        <%= button_to "contact", books_mail_send_path(email_from: current_user.email, email_to: current_user.email), class:'btn btn-custom', :target=>["_blank"]   %>
                  </div>
                  <div style="clear: both;">
                  </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>