<!DOCTYPE html>
<html>
<head>
  <title>TB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <%= link_to "TextbookExchange", '#', id: "logo" %>
            <ul class="nav navbar-nav pull-right">
              <li class='text-primary'><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to 'Profile', edit_user_registration_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "SingUp", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
        </div>
    </nav>
<%#    <p class="notice"><%= notice %><%# </p>
<%#     <p class="alert"><%= alert %>
     <%= yield %>
</body>
</html>
