<!DOCTYPE html>
<html>
<head>
  <title>TB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top nav-opa">
      <div class="container">
        <%= link_to "TextbookExchange", root_path, id: "logo" %>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to "About",    about_path %></li>
              <li><%= link_to "Sell",    new_book_path  %></li>
              <li><%= link_to 'Buy', books_path %></li>
              <li><%= link_to 'Bundle', lookup_quick_look_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "SingUp", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
        </div>
    </nav>
    <%= yield %>
</body>
</html>
