<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
         <div class="form-wrap">
            <h1 style="font-size: 30px;">Bundle</h1>
            <div class="center">
            <%= form_for @books, :url => url_for(:controller =>'lookup',:action =>'matchup') do |a| %>
              <% @books.each_with_index do |book, index| %>
                <%= fields_for "books[#{index}]", book do |f| %>
                  <p><%= index %>th book! isbn: <%= f.text_field :isbn %></p>
                <% end %>
              <% end %>
              <div class="actions center">
                <%= a.submit class:'btn btn-custom'%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
