<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-wrap">
            <h1>Sellers</h1>
             <% @result.map do |a| %>
              <% if a != []%>
                <h1 style: "display:inline;"><%= a.name %></h1>
                <% a.books.map do |t| %>
                  <% if t.isbn == @isbn1 || t.isbn == @isbn2 || t.isbn == @isbn3 %>
                    <div style="float: left; margin-right:80px; margin-left:20px; margin-bottom:20px;">
                        <%= image_tag t.thumbnail, :size => "180x260" %>
                    </div>
                    <div style="margin-left: 80px">
                          <% if !t.title.empty?%> Title: <%= t.title %><br/><% end %>
                          <% if !t.subtitle.nil?  %>
                              Subtitle: <%= t.subtitle %><br/>
                          <%end%>
                          <% if !t.author.nil?  %>
                              author: <%= t.author %><br/>
                          <%end%>
                          <% if !t.publisher.nil?  %>
                              publisher: <%= t.publisher %><br/>
                          <%end%>
                          Price: <%= t.price %><br/>
                          isbn: <%= t.isbn %><br/>
                          <% if !t.pub_date.nil?  %>
                              pub_date: <%= t.pub_date %><br/>
                          <%end%>
                          <% if !t.professor.nil?  %>
                              professor: <%= t.professor %><br/>
                          <%end%>
                          <% if !t.comment.nil?  %>
                              comment: <%= t.comment %><br/>
                          <%end%>
                          <% if !t.condition.nil?  %>
                              condition: <%= t.condition %><br/>
                          <%end%>
                          <br/><br/>
                    </div>
                    <div style="clear: both;">
                    </div>
                  <% end %>
                <% end %>
                <div class="actions center">
                  <%= button_to "contact", "#", class:'btn btn-custom center'%>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>